<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowOperation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WindowOperation.Properties.Settings>
            <setting name="log_logLevel" serializeAs="String">
                <value>DEBUG</value>
            </setting>
            <setting name="log_directory" serializeAs="String">
                <value>.\log</value>
            </setting>
            <setting name="log_filename" serializeAs="String">
                <value>log</value>
            </setting>
            <setting name="log_extension" serializeAs="String">
                <value>txt</value>
            </setting>
            <setting name="log_fileSize" serializeAs="String">
                <value>1024000</value>
            </setting>
            <setting name="log_fileCount" serializeAs="String">
                <value>2</value>
            </setting>
        </WindowOperation.Properties.Settings>
    </applicationSettings>
</configuration>